<%= semantic_form_for([@measurement,@line]) do |f| %>
  <%= form_errors(f) %>

  <%= f.inputs do %>
  	<%= f.input :x %>
  	<%= f.input :y %>
  	<%= f.input :z %>
  	<%= f.input :note %>
  <% end %>

  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<%= f.action :cancel, :as => :link %>	
  <% end%>
<% end %>

<div class="clear"></div>
