<%= form_for([@result, @result.lines.build]) do |f| %>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :od600 %><br />
    <%= f.text_field :od600 %>
  </div>
  <div class="field">
    <%= f.label :ln_od600 %><br />
    <%= f.text_field :ln_od600 %>
  </div>
  <div class="field">
    <%= f.label :ph %><br />
    <%= f.text_field :ph %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>