<p>
	<b>Time</b>
	<%= line.time %>
	<b>OD600</b>
	<%= line.od600 %>
	<b>Ln (OD600)</b>
	<%= line.ln_od600 %>
	<b>pH</b>
	<%= line.ph %>
	<p>
  <%= link_to 'Destroy Line', [line.result, line],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
</p>
