<h1>Listing lines</h1>

<table>
  <tr>
    <th>X</th>
    <th>Y</th>
    <th>Z</th>
    <th>Note</th>
    <th>Measurement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lines.each do |line| %>
  <tr>
    <td><%= line.x %></td>
    <td><%= line.y %></td>
    <td><%= line.z %></td>
    <td><%= line.note %></td>
    <td><%= line.measurement %></td>
    <td><%= link_to 'Show', [@model,@experiment,@measurement,line] %></td>
    <td><%= link_to 'Edit', edit_model_experiment_measurement_line_path(@model,@experiment,@measurement,line) %></td>
    <td><%= link_to 'Destroy', [@model,@experiment,@measurement,line], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Measurement line', new_model_experiment_measurement_line_path(@model,@experiment,@measurement) %>
