<%= semantic_form_for([@dyna_model]) do |f| %>
  <%= f.semantic_errors :state %>
  
  <%= f.inputs do %>
  	<%= f.input :title %>
  	<%= f.input :solver , as: :url %>
  	<%= f.input :estimation, as: :url %>
  	<%- if @dyna_model.owner_id == current_user.id || @dyna_model.new_record? %> 
  	<%= f.input :only_owner_can_change, as: :boolean, hint: "lock the model, allowing only the owner to edit it." %>
  	<%- end %>
  	<%= f.input :description, as: :text %>
  	<%= f.input :definition, as: :text %>
  <% end %>
  	  
  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<%= f.action :cancel, :as => :link, label: t('form.cancel') %>	
  <% end%>
<% end %>

<div class="clear"></div>
