<%= semantic_form_for([@dyna_model]) do |f| %>
  <%= f.semantic_errors :state %>
  
  <%= f.inputs do %>
  	<%= f.input :title %>
  	<%= f.input :solver , as: :url %>
  	<%= f.input :estimation, as: :url %>
  	<%= f.input :description, as: :text %>
  	<%= f.input :definition, as: :text %>
  <% end %>
  	  
  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<%= f.action :cancel, :as => :link %>	
  <% end%>
<% end %>

<div class="clear"></div>
