<% unless @dyna_model.new_record? -%>
  <div><i>note:</i> If you wish to edit the equation directly, please goto <%= link_to "Generate source", [:definition,@dyna_model], class: "btn blank"%></div>
  <br/>
  <% end -%>
  
<%= semantic_form_for([@dyna_model]) do |f| %>
  <%= form_errors(f) %>
    
  <%= f.inputs do %>
  	<%= f.input :title %>
  	<% if f.object.new_record? -%>
  	<%= f.input :next_step, label: "Model definition", required: true, as: :radio , collection: next_step_list %>
  	<% end -%>
  <% end -%>
  
  <%= f.inputs(id: "urls", class:"#{if f.object.new_record? then 'hidden' else '' end} model_def") do %>
  	<%= f.input :solver , as: :url %>
  	<%= f.input :estimation, as: :url %>
  <% end -%>
      
  <% if f.object.new_record? -%>
      <%= f.inputs(id: "equation", class:"hidden model_def") do %>
      	<%= f.input :eq_type, :as => :radio, :collection => @dyna_model.types , required: true%>
      	<%= f.input :equation , required: true, hint: "describe the equation using the parameters' code that is listed above as f(t)=x<br/>example for parameters a and b: a+b*t^2 + exp(t)<br/>example for differential equation that has parameter a as initial condition: 2*b*t + x".html_safe %>
      <% end -%>
  <% end -%>
  
  
  <%= f.inputs do %>
    <% if f.object.new_record? -%>
      <li id="dyna_model_params" class="input">
            <label class="label">Parameters</label>
            <div class="params">
            <%= f.semantic_fields_for :params do |builder| %>
                <%= render "param_fields", f: builder %>
            <% end -%>
            <p class="inline-hints new"><%= link_to_add_fields "+ Add New Parameter", f, :params %></p>
            </div>
            <div style="clear:both;"></div>
            <p class="inline-hints">parameters that are used in the model, it is required to define as many parameters as defined in the model's equation</p>
    <% end -%>    
    
    <%= f.input :log_flag, as: :boolean %>
  	<%- if @dyna_model.owner_id == current_user.id || @dyna_model.new_record? %> 
  	<%= f.input :only_owner_can_change, as: :boolean %>
  	<%- end %>
  	<%= f.input :description, as: :text %>
  	<%= f.input :definition, as: :text, hint: "use latex formula surrounded by '\\<span>(</span>' and '\\<span>)</span>', example: <br/>&nbsp;\\\\(\\)(y(t)=2+1t^{2}\\\\(\\)) => \\(y(t)=2+1t^{2}\\)".html_safe %>
  <% end %>
  	  
  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<div class="menu">
        <%= menu %>
    </div>
  <% end %>
<% end %>


<div class="clear"></div>
