
<h3><%= m.title%> <%= m.id %></h3>

<p>(<%= link_to "show_more" , params_merge(m.id) %>)</p>
<%- if params["models"].present? && params["models"].include?(m.id.to_s)  %>
<dl>
    <dt>Experiments:</dt>
    <dd><%= m.experiments.trim.size %></dd>
    <dt>Measurements</dt>
    <dd><%= Measurement.model_is(m).size %></dd>
</dl>
<%- end %>
