<% 
	context_menu = [
		{
			:key => :edit, 
			:name => 'Edit this dyna model', 
			:url => edit_dyna_model_path(@dyna_model),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :new, 
			:name => 'New parameter', 
			:url => new_dyna_model_param_path(@dyna_model),
			:options => {
				:container_class => 'menu',
				:class => "btn"
			}
		},
		{
			:key => :stats, 
			:name => 'Statistical data', 
			:url => stats_dyna_model_path(@dyna_model),
			:options => {
				:container_class => 'menu',
				:class => "btn"
			}
		},
		{
			:key => :index, 
			:name => 'Goto dyna models\' index', 
			:url => dyna_models_path,
			:options => {
				:container_class => 'menu',
				:class => "text"
		}}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { "Dyna Model's detail" } %>
<p id="notice"><%= notice %></p>

<h1><%= @dyna_model.title %> (dyna model)</h1>

<h3>Solver</h3>
<p>
<% if @dyna_model.solver.nil? || @dyna_model.solver.blank? %>
	(not defined)
<% else %>
  <%= link_to @dyna_model.solver, @dyna_model.solver%>
<% end %>
</p>

<h3>Estimation</h3>
<p>
<% if @dyna_model.estimation.nil? || @dyna_model.estimation.blank? %>
	(not defined)
<% else %>
  <%= link_to @dyna_model.estimation %>
<% end %>
</p>

<h3>Description:</h3>
<p>
  <%= simple_format (show (@dyna_model.description)) %>
</p>

<h3>Definition:</h3>
<p>
  <%= simple_format (show (@dyna_model.definition)) %>
</p>

<h3>Listing <%= pluralize(@dyna_model.params.length, 'parameter')%></h3>

<%= 
	collection_table(@dyna_model.params, :id => 'params' , :class => 'formatted') do |t|
		t.header :code
		t.header :human_title
		t.header :description
		t.header :top
		t.header :bottom
		t.header :output
		t.header :ic,			"IC"
		t.header :edit_h,		""
		t.header :destroy_h,	""

		t.rows.alternate = :odd
    	t.rows.each do |row, param, index|
			# Notice there's no need to explicitly define the title
			row.code			param.code
			row.human_title		param.human_title
			row.output			param.output_only
			row.ic				param.initial_condition
			row.description		param.description_trimmed.gsub(/\n/, '<br/>')
			row.top				param.top
			row.bottom			param.bottom
			row.edit_h			link_to 'edit', [:edit,@dyna_model,param]
			row.destroy_h		link_to 'remove', [@dyna_model,param], confirm: 'Are you sure?', method: :delete
		end
	end
%>

<div class="menu">
	<%= menu %>
</div>

