<% 
	javascript 'https://www.google.com/jsapi'

	context_menu = [
		{
			:key => :show, 
			:name => 'Show dyna model\'s details', 
			:url => dyna_model_path(@dynamodel),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :edit, 
			:name => 'Download .csv data', 
			:url => stats_dyna_model_path(@dynamodel, :format => :csv),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :index, 
			:name => 'Goto dyna models\' index', 
			:url => dyna_models_path,
			:options => {
				:container_class => 'menu',
				:class => "text"
		}}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { "Dyna Model's detail" } %>
<p id="notice"><%= notice %></p>

<h1><%= @dyna_model.title %> (dyna model)</h1>

<h3>Description:</h3>
<p>
  <%= simple_format (show (@dyna_model.description)) %>
</p>

<h3>Listing <%= pluralize(@dyna_model.params.length, 'parameter')%></h3>

<%= 
	collection_table(@dyna_model.params, :id => 'params' , :class => 'formatted dataTable') do |t|
		t.header :code
		t.header :human_title
		t.header :description

		t.rows.alternate = :odd
    	t.rows.each do |row, param, index|
			# Notice there's no need to explicitly define the title
			row.code			param.code
			row.human_title		param.human_title
			row.description		param.description_trimmed.gsub(/\n/, '<br/>')
		end
	end
%>

<div class="menu">
	<%= menu %>
</div>


<h3>Models</h3>

<h3>Experiments</h3>
	<% @experiments.take(1).each do |e| %>
	<% next unless (proxy_dyna_models = ProxyDynaModel.joins(:measurement => :experiment).where('measurements.experiment_id' => e.id, :dyna_model_id => @dyna_model.id).group('proxy_dyna_models.id')) %>
	<% p_dm_average = e.get_average_proxy_dyna_model(proxy_dyna_models) %>
	
	<h4><i><%= e.title %></i> experiment that belongs to <i><%= e.model.title %></i> model</h4>
	
	<div class="one_tab">
		<div>
		<div>
			<h5 class="button">Average parameters <span class="dim">(click here to show/hide)</span></h5>
			<div class="toggle" style="display:none;">
				<dl>
					<dt>RMSE:</dt>
					<dd><%=p_dm_average.rmse%> +/- <%= p_dm_average.rmse_stdev%></dd>
					<dt>Bias Factor:</dt>
					<dd><%=p_dm_average.bias%> +/- <%= p_dm_average.bias_stdev%></dd>
					<dt>Accuraccy Factor:</dt>
					<dd><%=p_dm_average.accuracy%> +/- <%= p_dm_average.accuracy_stdev%></dd>
				</dl>
	
				<%= 
				collection_table(p_dm_average.proxy_params, :id => 'params' , :class => 'formatted dataTable') do |t|
					t.header :human_title
					t.header :description
					t.header :mean,			"Mean Value"
					t.header :std_dev
					t.header :count
					
					t.rows.alternate = :odd
			    	t.rows.each do |row, param, index|
						# Notice there's no need to explicitly define the title
						row.human_title		param.param.human_title
						row.description		param.param.description_trimmed.gsub(/\n/, '<br/>')
						row.mean			param.mean
						row.std_dev			param.std_dev
						row.count			param.count
					end
				end
				%>
			</div>
		</div>
		<h5 class="button">Chart <span  class="dim">(click here to show/hide)</span></h5>
		<div style="display:none;" class="toggle proxy_dyna_model_chart" >
			<div class="chart">
				loading...
			</div>
			<div class="options" style="display:none;text-align: right;"><a class="download" href='#'>Download chart as .svg</a></div>
			<div style="display:none;" class="model-data" data-source="<%= proxy_dyna_model_path(p_dm_average, :format => :json) %>"><%= p_dm_average %></div>
			<div style="display:none;" class="measurement-data">
				<% e.measurements.each do |m| %> 
				<div data-source="<%= experiment_measurement_path(e,m,:format=>:json) %>"></div>
				<% end %>
			</div>
		</div>
		</div>
	<div>		
		<h5 class="button">Measurements  <span class="dim">(click here to show/hide)</span></h5>

		<% @dyna_model.proxy_dyna_models.collect {|p| if (p.measurement && p.measurement.experiment == e) then p.measurement end }.compact.each do |m| %>
		<% next unless (proxy_dyna_models = m.proxy_dyna_models.find_all { |p| p.dyna_model == @dyna_model }) %>
		
		
		<% proxy_dyna_models.each do |p_dm| %>
		<div class="toggle one_tab" style="display:none;">
			<h4><i><%= m.title %></i> measurement that belongs to <i><%= m.model.title %></i> model</h4>

			<div>
				<h5 class="button">Data Updated at <%=p_dm.updated_at %> <span style="color:#bbbbbb">(click here to show/hide)<span></h5>
				<div class="toggle" style="display:none;">
				<dl>
					<dt>RMSE:</dt>
					<dd><%=p_dm.rmse%></dd>
					<dt>Bias Factor:</dt>
					<dd><%=p_dm.bias%></dd>
					<dt>Accuraccy Factor:</dt>
					<dd><%=p_dm.accuracy%></dd>
				</dl>
				<%= 
				collection_table(p_dm.proxy_params, :id => 'params' , :class => 'formatted dataTable') do |t|
					t.header :human_title
					t.header :description
					t.header :value
			
					t.rows.alternate = :odd
			    	t.rows.each do |row, param, index|
						# Notice there's no need to explicitly define the title
						row.human_title		param.param.human_title
						row.description		param.param.description_trimmed.gsub(/\n/, '<br/>')
						row.value			param.value
					end
				end
				%>
				</div>
			</div>
			<h5 class="button">Chart (click here to show/hide)</h5>
			<div style="display:none;" class="toggle proxy_dyna_model_chart" >
				<div class="chart">
					loading...
				</div>
				<div class="options" style="display:none;text-align: right;"><a class="download" href='#'>Download chart as .svg</a></div>
				<div style="display:none;" class="model-data">
					<div data-source="<%= proxy_dyna_model_path(p_dm, :format => :json) %>"><%= p_dm.title %></div>
				</div>
				<div style="display:none;" class="measurement-data">
					<div data-source="<%= experiment_measurement_path(m.experiment,m,:format=>:json) %>"></div> 
				</div>
			</div>
		
		</div>
		<% end %>
	
	
	<% end %>
		</div>
	</div>

	
	
		
<% end %>

