<% content_for(:title) { "Resend confirmation instructions" } %>
<h2>Resend confirmation instructions</h2>


<%= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<%= f.inputs do %>
  <%= f.input :email, as: :email %>
<% end %>


<%= f.actions do %>
   <%= f.action :submit, :as => :button, :label => "Resend", :disable_with => 'Resending...' %>

   <%= render "devise/shared/links" %>
<% end %>

<% end %>
