<%= semantic_form_for(@model) do |f| %>
  <%= f.semantic_errors :state %>

  <%= f.inputs do %>
  	<%= f.input :title %>
  	<%= f.input :description, as: :text %>
  	<%= f.input :is_published, as: :boolean %>
  	<%- if permitted_params.model_attributes.include?(:owner_id) %>
  	<%= f.input :owner, as: :select, 
  	 collection: User.all, 
  	 member_label: :email
    %>
  	<%- end%>
  	
  	
  <% end %>

  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<%= f.action :cancel, :as => :link , label: t('form.cancel')%>	
  <% end%>
<% end %>

<div class="clear"></div>