<%= semantic_form_for(@model) do |f| %>
  <%= f.semantic_errors :state %>

  <%= f.inputs do %>
  	<%= f.input :title %>
  	<%= f.input :description, as: :text %>
  <% end %>

  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<%= f.action :cancel, :as => :link , label: t('form.cancel')%>	
  <% end%>
<% end %>

<div class="clear"></div>