<% 
	context_menu = [
		{
			:key => :new, 
			:name => 'new model', 
			:url => new_model_path,
			:options => {
				:container_class => 'menu'
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { "Model's index" } %>

<h1>Listing <%= pluralize(@models.length, 'model')%></h1>

<%= 
	collection_table(@models, :id => 'models' , :class => 'formatted') do |t|
		t.header :title
		t.header :description
		t.header :show_h,		""
		t.header :edit_h,		""
		t.header :destroy_h,	""

		t.rows.alternate = :odd
    	t.rows.each do |row, model, index|
			# Notice there's no need to explicitly define the title
			row.title			word_wrap(model.title,:line_width => 40).gsub(/\n/, '<br/>')
			row.description		model.description_trimmed.gsub(/\n/, '<br/>')
			row.show_h			link_to 'show', model
			row.edit_h			link_to 'edit', [:edit,model]
			row.destroy_h		link_to 'remove', model, confirm: 'Are you sure?', method: :delete
		end
	end
%>

<div class="menu">
	<%= menu %>
</div>
<h3>All <%= pluralize(@measurements.length, 'measurement')%></h3>

<%= 
	collection_table(@measurements, :id => 'measurements' , :class => 'formatted') do |t|
		t.header :model
		t.header :experiment
		t.header :title
		t.header :date
		t.header :show_h,		""
		t.header :regression_h,	""
		t.header :csv,			""

		t.rows.alternate = :odd
    	t.rows.each do |row, measure, index|
			# Notice there's no need to explicitly define the title
			row.model			word_wrap(measure.model.title,:line_width => 40).gsub(/\n/, '<br/>')
			row.experiment		measure.experiment.title
			row.title			measure.title
			row.date			measure.date
			row.regression_h	link_to 'regression', [:regression,measure.experiment,measure]
			row.show_h			link_to 'show', [measure.experiment,measure]
			row.csv				link_to 'download .csv', experiment_measurement_path(measure.experiment,measure, :format => :csv)
		end
	end
%>


