<% 
	context_menu = [
		{
			:key => :new, 
			:name => t('navigation.new' , model: Model.model_name.human.downcase), 
			:url => new_model_path,
			:options => {
				:container_class => 'menu'
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { t('.title') } %>

<h1>Listing <%= pluralize(@models.length, Model.model_name.human.downcase)%></h1>

<%= 
	collection_table(@models, :id => 'models' , :class => 'formatted dataTable') do |t|
		t.header :title,		Model.human_attribute_name(:title)
		t.header :description,	Model.human_attribute_name(:description)
		t.header :show_h,		"", class: "no-sort"
		t.header :edit_h,		"", class: "no-sort"
		t.header :destroy_h,	"", class: "no-sort"

		t.rows.alternate = :odd
    	t.rows.each do |row, model, index|
			# Notice there's no need to explicitly define the title
			row.title			word_wrap(model.title,:line_width => 40).gsub(/\n/, '<br/>')
			row.description		model.description_trimmed.gsub(/\n/, '<br/>')
			row.show_h			link_to t('action.show').downcase, model
			row.edit_h			link_to t('action.edit').downcase, [:edit,model]
			row.destroy_h		link_to t('action.remove').downcase, model, confirm: 'Are you sure?', method: :delete
		end
	end
%>

<div class="menu">
	<%= menu %>
</div>
<h3><%= t('aux.listing')%> <%= pluralize(@measurements.length, Measurement.model_name.human.downcase)%></h3>

<%= 
	collection_table(@measurements, :id => 'measurements' , :class => 'formatted dataTable') do |t|
		t.header :model,		Model.model_name.human
		t.header :experiment,	Experiment.model_name.human
		t.header :title,		Measurement.human_attribute_name(:title)
		t.header :date,			Measurement.human_attribute_name(:date)
		t.header :show_h,		"", class: "no-sort"
		t.header :regression_h,	"", class: "no-sort"
		t.header :csv,			"", class: "no-sort"
		#t.header :exp,			"", class: "no-sort"

		t.rows.alternate = :odd
    	t.rows.each do |row, measure, index|
			# Notice there's no need to explicitly define the title
			row.model			word_wrap(measure.model.title,:line_width => 40).gsub(/\n/, '<br/>')
			row.experiment		measure.experiment.title
			row.title			measure.title
			row.date			measure.date
			row.regression_h	link_to t('.regression').downcase, [:regression,measure.experiment,measure]
			row.show_h			link_to t('action.show').downcase, [measure.experiment,measure]
			row.csv				link_to t('action.download_data').downcase, experiment_measurement_path(measure.experiment,measure, :format => :csv)
		#	row.exp				link_to 'download .exp', experiment_measurement_path(measure.experiment,measure, :format => :exp)
		end
	end
%>


