<% 
	context_menu = [
		{
			:key => :edit, 
			:name => 'Edit this model', 
			:url => edit_model_path(@model),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :new, 
			:name => 'New experiment', 
			:url => new_model_experiment_path(@model),
			:options => {
				:container_class => 'menu',
				:class => "btn"
			}
		},
		{
			:key => :index, 
			:name => 'Goto models\' index', 
			:url => models_path,
			:options => {
				:container_class => 'menu',
				:class => "text"
		}}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { "Model's detail" } %>
<p id="notice"><%= notice %></p>

<h1><%= @model.title %> (model)</h1>

<h3>Description:</h3>
<p>
  <%= simple_format @model.description %>
</p>

<h3>Listing <%= pluralize(@model.experiments.length, 'experiment')%></h3>

<%= 
	collection_table(@model.experiments, :id => 'experiments' , :class => 'formatted') do |t|
		t.header :title
		t.header :description
		t.header :show_h,		""
		t.header :edit_h,		""
		t.header :destroy_h,	""

		t.rows.alternate = :odd
    	t.rows.each do |row, experiment, index|
			# Notice there's no need to explicitly define the title
			row.title			experiment.title
			row.description		experiment.description
			row.show_h			link_to 'show', [@model,experiment]
			row.edit_h			link_to 'edit', edit_model_experiment_path(@model,experiment)
			row.destroy_h		link_to 'destroy', [@model,experiment], confirm: 'Are you sure?', method: :delete
		end
	end
%>

<div class="menu">
	<%= menu %>
</div>

<h3>All <%= pluralize(@measurements.length, 'measurement')%> in <%= pluralize(@model.experiments.length, 'experiment')%></h3>

<%= 
	collection_table(@measurements, :id => 'measurements' , :class => 'formatted') do |t|
		t.header :experiment
		t.header :title
		t.header :date
		t.header :regression_h,	""
		t.header :show_h,		""
		t.header :csv,			""

		t.rows.alternate = :odd
    	t.rows.each do |row, measure, index|
			# Notice there's no need to explicitly define the title
			row.experiment		measure.experiment.title
			row.title			measure.title
			row.date			measure.date
			row.regression_h	link_to 'regression', [:regression,@model,measure.experiment,measure]
			row.show_h			link_to 'show', [@model,measure.experiment,measure]
			row.csv				link_to 'download .csv', model_experiment_measurement_path(measure.model,measure.experiment,measure, :format => :csv)
		end
	end
%>