<% 
	context_menu = [
		{
			:key => :new, 
			:name => t('navigation.new' , model: Experiment.model_name.human), 
			:url => url_for([:new,@model,:experiment]),
			:options => {
				:container_class => 'menu',
				:class => "btn"
			}
		},
		{
			:key => :edit, 
			:name => t('action.edit'), 
			:url => url_for([:edit,@model]),
			:options => {
				:container_class => 'menu',
				class: "text"
			}
		},
		{
			:key => :index, 
			:name => t('navigation.index' , model: Model.model_name.human.pluralize), 
			:url => models_path,
			:options => {
				:container_class => 'menu',
				:class => "text"
		}}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { t('title.detail' , model: Model.model_name.human) } %>

<h1><%= @model.title %></h1>

<h3><%= Model.human_attribute_name(:description)%></h3>
<p>
<%- if @model.description.nil? || @model.description.blank? %>
(no description provided)
<%- else %>
  <%= simple_format @model.description %>
<%- end %>
</p>
<h3>
	Domain
</h3>
<p><%= Model.human_attribute_name(:owner) %>:  <%= @model.owner.email.gsub(/@/,' (at) ') %></p>
<p>
<%- if @model.is_published %>
  <%= Model.model_name.human %> is public
<%- else %>
  <%= Model.model_name.human %> is not yet public
<%- end %>
</p>

<h3><%= t('aux.listing')%> <%= pluralize(@model.experiments.length, Experiment.model_name.human.downcase)%></h3>

<%= 
	collection_table(@model.experiments, :id => 'experiments' , :class => 'formatted dataTable') do |t|
		t.header :title,		Model.human_attribute_name(:title)
		t.header :description,	Model.human_attribute_name(:description)
		t.header :show_h,		"", class: "no-sort"
		#t.header :exp_h,		"", class: "no-sort"
		t.header :edit_h,		"", class: "no-sort"
		t.header :destroy_h,	"", class: "no-sort"

		t.rows.alternate = :odd
    	t.rows.each do |row, experiment, index|
			# Notice there's no need to explicitly define the title
			row.title			experiment.title
			row.description		experiment.description
			row.show_h			link_to t('action.show').downcase, [@model,experiment]
			row.edit_h			link_to t('action.edit').downcase, [:edit,@model,experiment]
			#row.exp_h			link_to 'download .exp' , model_experiment_path(@model,experiment,:format => :exp)
			row.destroy_h		link_to t('action.remove').downcase, [@model,experiment], confirm: 'Are you sure?', method: :delete
		end
	end
%>

<div class="menu">
	<%= menu %>
</div>

<h3><%= t('aux.listing')%> <%= pluralize(@measurements.length, Measurement.model_name.human)%> <%= t('aux.in')%> <%= pluralize(@model.experiments.length, Experiment.model_name.human.downcase)%></h3>

<%= 
	collection_table(@measurements, :id => 'measurements' , :class => 'formatted dataTable-complex') do |t|
		t.header :experiment
		t.header :title
		t.header :date
		t.header :show_h,		"", class: "no-sort"
		t.header :regression_h,	"", class: "no-sort"
		t.header :csv,			"", class: "no-sort"

		t.rows.alternate = :odd
    	t.rows.each do |row, measure, index|
			# Notice there's no need to explicitly define the title
			row.experiment		measure.experiment.title
			row.title			measure.title
			row.date			measure.date
			row.regression_h	link_to 'regression', [:regression,measure.experiment,measure]
			row.show_h			link_to t('action.show').downcase, [measure.experiment,measure]
			row.csv				link_to 'download .csv', experiment_measurement_path(measure.experiment,measure, :format => :csv)
		end
	end
%>