<%
	context_menu = [
		{
			:key => :new,
			:name => t('navigation.new' , model: Experiment.model_name.human),
			:url => url_for([:new,@model,:experiment]),
			:options => {
				:if => Proc.new { can?(:update, @model) },
				:container_class => 'menu',
				:class => "btn"
			}
		},
		{
			:key => :edit,
			:name => t('action.edit'),
			:url => url_for([:edit,@model]),
			:options => {
				:if => Proc.new { can?(:update, @model) },
				:container_class => 'menu',
				class: "text"
			}
		},
		{
			:key => :new_group,
			:name => 'Associate team',
			:url => new_model_accessible_path(@model),
			:options => {
				:if => Proc.new { can?(:update, @model) },
				:container_class => 'menu',
				class: "text"
			}
		},
		{
			:key => :index,
			:name => t('navigation.index' , model: Model.model_name.human.pluralize),
			:url => models_path,
			:options => {
				:if => Proc.new { can?(:update, @model) },
				:container_class => 'menu',
				:class => ("text")
     	}
   	},
		{
			:key => :download,
			:name => 'Download all',
			:show_in_top => false,
			:url => model_path(@model,format: :csv),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		}
		]

	menu = nil
	content_for(:context_menu) { render_navigation(:items => context_menu.reject { |i| i[:show_in_top] == false }) }
	menu = render_navigation( items: context_menu)

%>
<% content_for(:title) { t('title.detail' , model: Model.model_name.human) } %>

<h1><%= @model.title %></h1>

<h3><%= Model.human_attribute_name(:description)%></h3>
<p>
<%- if @model.description.nil? || @model.description.blank? %>
(no description provided)
<%- else %>
  <%= simple_format @model.description %>
<%- end %>
</p>
<h3>
	Domain
</h3>
<p><%= Model.human_attribute_name(:owner) %>:  <%= @model.owner.email_at %></p>
<p>
<%- if @model.is_published %>
  <%= Model.model_name.human %> is public
<%- else %>
  <%= Model.model_name.human %> is not yet public
<%- end %>
<%- # TODO: add can edit?
%>

<%- if @accessibles.present? %>
<%= render "accessibles/index"%>
<%- elsif can?( :update, @model) %>
<div class="text-center new">
    <%= link_to 'Associate team' ,[:new,@model,:accessible], class: "btn blank"%>
    <p><%= t "help.group.tip" %></p>
</div>
<%- end %>

</p>

<h3>Upload data from a spreadsheet</h3>

<div class="tip">
<div style="display:hidden;" class="preview">
		<p>Upload a spreadsheet (.csv, .xls or .xlsx) with experiments and different replicates as measurements.</p>
</div>
<div class="detail">
		<p>Upload a spreadsheet (.csv, .xls or .xlsx) with experiments and different replicates as measurements.</p>
		<p>Data is organized vertically accepting data for each Row, such as:</p>
			<ul>
				<li>Row 1 / Column #: Names of experiment</li>
				<li>Row 2 / Column #: Names of measurement</li>
				<li>Row 3 / Column #: Name of attribute ('x', 'y' are mandatory / 'z', 'note' are also supported)</li>
			</ul>
			<p>Each measurement in the file will have at least 2 columns identifying 'x' and 'y' values. <%= a_out "See the example file (.xls)", root_url + "example.xls" %> or <%= a_out "another example file (.xlsx)", root_url + "example_2.xlsx" %>.</p>

		<%= semantic_form_for @model, url: import_model_path(@model), multipart: true do |f| %>
			<%= f.inputs do %>
				<%= f.input :file, as: :file, hint: "accepted formats: csv (separated by comma), xls or xlsx"  %>
				<%= f.input :prefix, as: :string, hint: "Prefix for the experiments' titles", placeholder: "add a prefix to the experiments name" %>
			<%- end  %>
			<%= f.actions do %>
				<%= f.action :submit, label: "Upload", :as => :button %>
			<%- end  %>
		<% end %>
</div>
</div>


<%- if @experiments.present? || cannot?( :update, @model) %>
    <div id="experiments_listing">
    <%= render 'experiments/experiments'%>
</div>
<%- else %>
    <h3><%= t('aux.listing')%> <%= pluralize(@model.experiments.length, Experiment.model_name.human.downcase)%></h3>
    <div class="text-center  new">
        <%= link_to 'New measurement' ,[:new_measurement,@model],remote:true, class: "btn"%> <%= link_to 'New Experiment' ,[:new,@model,:experiment], class: "btn"%>
        <p><%= word_wrap( t( "help.experiment.tip"), line_width: 80).gsub( /\n/ , "<br/>").html_safe%></p>
    </div>
<%- end%>

<div class="menu">
	<%= menu %>
</div>

<div id="measurements_listing">
<%= render 'measurements/measurements'%>
</div>
