<% 
	context_menu = [
		{
			:key => :new, 
			:name => t('navigation.new' , model: Experiment.model_name.human), 
			:url => url_for([:new,@model,:experiment]),
			:options => {
				:if => Proc.new { can?(:update, @model) },
				:container_class => 'menu',
				:class => "btn"
			}
		},
		{
			:key => :edit, 
			:name => t('action.edit'), 
			:url => url_for([:edit,@model]),
			:options => {
				:if => Proc.new { can?(:update, @model) },
				:container_class => 'menu',
				class: "text"
			}
		},
		{
			:key => :new_group, 
			:name => 'Associate team', 
			:url => new_model_accessible_path(@model),
			:options => {
				:if => Proc.new { can?(:update, @model) },
				:container_class => 'menu',
				class: "text"
			}
		},
		{
			:key => :index, 
			:name => t('navigation.index' , model: Model.model_name.human.pluralize), 
			:url => models_path,
			:options => {
				:if => Proc.new { can?(:update, @model) },
				:container_class => 'menu',
				:class => ("text" if can?(:update, @model))
	       	}
       	},
       	{
            :key => :index, 
            :name => "Goto public " + Model.model_name.human.pluralize.downcase, 
            :url => models_path,
            :options => {
                :if => Proc.new { cannot?(:update, @model) },
                :container_class => 'menu',
                :class => ("text" if can?(:update, @model))
            }
        }
		]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { t('title.detail' , model: Model.model_name.human) } %>

<h1><%= @model.title %></h1>

<h3><%= Model.human_attribute_name(:description)%></h3>
<p>
<%- if @model.description.nil? || @model.description.blank? %>
(no description provided)
<%- else %>
  <%= simple_format @model.description %>
<%- end %>
</p>
<h3>
	Domain
</h3>
<p><%= Model.human_attribute_name(:owner) %>:  <%= @model.owner.email_at %></p>
<p>
<%- if @model.is_published %>
  <%= Model.model_name.human %> is public
<%- else %>
  <%= Model.model_name.human %> is not yet public
<%- end %>
<%- # TODO: add can edit? 
%>

<%- if @accessibles.present? %>
<%= render "accessibles/index"%>
<%- elsif can?( :update, @model) %>
<div class="text-center new">
    <%= link_to 'Associate team' ,[:new,@model,:accessible], class: "btn blank"%>
    <p><%= t "help.group.tip" %></p>
</div>
<%- end %>

</p>

<%- if @experiments.present? || cannot?( :update, @model) %>
    <div id="experiments_listing">
    <%= render 'experiments/experiments'%>
</div>
<%- else %>
    <h3><%= t('aux.listing')%> <%= pluralize(@model.experiments.length, Experiment.model_name.human.downcase)%></h3>
    <div class="text-center  new">
        <%= link_to 'New measurement' ,[:new_measurement,@model],remote:true, class: "btn"%> <%= link_to 'New Experiment' ,[:new,@model,:experiment], class: "btn"%>
        <p><%= word_wrap( t( "help.experiment.tip"), line_width: 80).gsub( /\n/ , "<br/>").html_safe%></p>
    </div>
<%- end%>

<div class="menu">
	<%= menu %>
</div>

<div id="measurements_listing">
<%= render 'measurements/measurements'%>
</div>