<% 
	context_menu = [
		{
			:key => :login, 
			:name => 'Login', 
			:url => new_session_path(resource_name),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		}
		].concat(back_menu)
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<h2>Sign up</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.inputs do %>
	<%= f.input :email, as: :email %>
  	<%= f.input :password, as: :password %>
  	<%= f.input :password_confirmation, as: :password %>
  <% end %>

  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<div class="menu">
		<%= menu %>
	</div>
  <% end%>
  
   		
  	
  
<% end %>



<div class="clear"></div>
