<h1>Listing measurement_lines</h1>

<table>
  <tr>
    <th>X</th>
    <th>Y</th>
    <th>Z</th>
    <th>Note</th>
    <th>Measurement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @measurement_lines.each do |measurement_line| %>
  <tr>
    <td><%= measurement_line.x %></td>
    <td><%= measurement_line.y %></td>
    <td><%= measurement_line.z %></td>
    <td><%= measurement_line.note %></td>
    <td><%= measurement_line.measurement %></td>
    <td><%= link_to 'Show', [@model,@experiment,@measurement,measurement_line] %></td>
    <td><%= link_to 'Edit', edit_model_experiment_measurement_measurement_line_path(@model,@experiment,@measurement,measurement_line) %></td>
    <td><%= link_to 'Destroy', [@model,@experiment,@measurement,measurement_line], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Measurement line', new_model_experiment_measurement_measurement_line_path(@model,@experiment,@measurement) %>
