<p id="notice"><%= notice %></p>

<p>
  <b>X:</b>
  <%= @measurement_line.x %>
</p>

<p>
  <b>Y:</b>
  <%= @measurement_line.y %>
</p>

<p>
  <b>Z:</b>
  <%= @measurement_line.z %>
</p>

<p>
  <b>Note:</b>
  <%= @measurement_line.note %>
</p>

<p>
  <b>Measurement:</b>
  <%= @measurement_line.measurement %>
</p>


<%= link_to 'Edit', edit_model_experiment_measurement_measurement_line_path(@model,@experiment,@measurement,@measurement_line) %> |
<%= link_to 'Back', model_experiment_measurement_measurement_lines_path(@model,@experiment,@measurement) %>
