<% content_for(:title) { "Change your password" } %>
<h2>Change your password</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.inputs do %>
    <%= f.input :password, as: :password %>
    <%= f.input :password_confirmation, as: :password %>
  <% end %>

<%= f.actions do %>
   <%= f.action :submit, :as => :button, :label => "Change", :disable_with => 'Changing...' %>

   <%= render "devise/shared/links" %>
<% end %>

<% end %>
