<%= semantic_form_for([@permitable,@accessible]) do |f| %>
  <%= f.semantic_errors :state %>

  <%= f.inputs do %>
  	<%= f.input :group, collection: Group.remove_model_groups(@permitable.class.find(@permitable.id)), member_label: :title %>
  	<!--<%= f.input :permission_level, collection: @accessible.permissions, as: :select %>-->
  <% end %>

  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<%= f.action :cancel, :as => :link %>	
  <% end%>
<% end %>

<div class="clear"></div>
