


<% @accessibles.each do |accesible| %>
<span>
  <span class="bold"><%=  accesible.group.title %></span>
  <span class="italic">
    (<%= accesible.permission_human %> permissions
    <span title="<%= t('action.remove').downcase %> '<%=  accesible.group.title %>' from <%= @model %> <%= Model.model_name.human %>">
      | <%= link_to(t('action.remove').downcase, [@model,accesible], confirm: 'Are you sure?', method: :delete) %>
    </span>
  )</span>
</span>
<%- end  %>
