<h3>First action</h3>

<p>
	<%= link_to "Projects" , models_path, :class => 'btn' %>To start using this application and introduce data goto Projects
</p>
<p>
	 <%= link_to DynaModel.model_name.human.pluralize , dyna_models_path, :class => 'btn blank' %>To view/manage different <%=DynaModel.model_name.human.pluralize%>
	<br/>
</p>

<h3>Tips</h3>

<p>
	The top toolbar has all the navigation links in this web application. There are three static links that are common throught the application <i>(Home & <%=Model.model_name.human%> & <%=DynaModel.model_name.human%>)</i> 
	<br/>
	The print below shows these two static links
	<br/>
	<br/>
	<%= image_tag "menu.png"%>
</p>

<p>
	Additionnaly, there are some contextual actions, depending on the active page, which can be accessed next to the <i>&gt;</i> symbol in orange, as shown in the image below
	<br/>
	<br/>
	<%= image_tag "actions.png"%>
</p>
