<h3>First action</h3>

<p>
	<%= link_to "Manage data" , models_path, :class => 'btn' %>To start using this application and input/manage data goto Scopes
</p>
<p>
	 <%= link_to "Dynamic models" , dyna_models_path, :class => 'btn blank' %>To view/manage different Dynamic Models
	<br/>
</p>

<h3>Tips</h3>

<p>
	The top toolbar has all the navigation links in this web application. There are two static links that are common throught the application <i>(Home & Results)</i> 
	<br/>
	The print below shows these two static links
	<br/>
	<br/>
	<%= image_tag "menu.png"%>
</p>

<p>
	Additionnaly, there are some contextual actions, depending on the active page, which can be accessed next to the <i>&gt;</i> symbol in orange, as shown in the image below
	<br/>
	<br/>
	<%= image_tag "actions.png"%>
</p>


<%= link_to 'yada', experiment_measurement_path(Measurement.all.first.experiment,Measurement.all.first,:format=>:json,log: true) %>
