
<div class="readable">
<h1>Welcome</h1>
<p class="medium">
  BGFit provides a web-based unified platform, where a <strong>rich set of dynamic models can be fitted to experimental time-series data</strong>, further allowing to efficiently manage the results in a structured and hierarchical way.
</p>
<p class="medium">
  The data managing system allows to organize <i>projects</i>, <i>experiments</i> and <i>measurements</i> data and also to define teams with different editing and viewing permission.
</p>
<p class="medium">
  <strong>Several dynamic and algebraic models are already implemented</strong>, such as <i>Polynomial Regression</i>, <i>Gompertz</i>, <i>Baranyi</i>, <i>Logistic</i> and <i>Live Cell Fraction</i> models and the user can add easily new models thus expanding current ones.
</p>

<div class="text-justify">
  <p class="medium">
    Publications, discussing results obtained with the help of BGFit, are asked to reference the following paper and webpage:
  </p>
  <div class="one_tab">
    <p class="medium">
      <i>Veríssimo, A., Paixão, L., Neves, A. R. &amp; Vinga, S.
      BGFit: management and automated fitting of biological growth curves. BMC Bioinformatics 14, 283 (2013).</i>
    </p>
    <p>
      <span class="btn_small medium">http://kdbio.inesc-id.pt</span>
      <span class="small">
        <a href="http://www.biomedcentral.com/1471-2105/14/283" class="show_more btn blank btn_small">BMC Bioinformatics</a>
        <a href="http://www.biomedcentral.com/pubmed/24067087 " class="show_more btn blank btn_small">Pubmed</a>
        <a href="http://www.citeulike.org/posturl?url=http://www.biomedcentral.com/1471-2105/14/283" class="show_more btn blank btn_small">Citeulike</a>
        <a href="http://www.mendeley.com/import/?url=http://www.biomedcentral.com/1471-2105/14/283" class="show_more btn blank btn_small">Mendeley</a>
      </span>
    </p>
  </div>
</div>

</div>

<div class="twitter">
    <h3>Latest news:</h3>
    <a href="https://twitter.com/bgfit_modeling" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @bgfit_modeling</a>
    
    <a class="twitter-timeline"  data-chrome="noheader nofooter" data-dnt="true" href="https://twitter.com/bgfit_modeling"  data-widget-id="357985857803804672">News by @bgfit_modeling</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div style="clear:both;"></div>

<h2>First action</h2>

<div class="half_cols">
    <p class="text-center">
	<%= link_to "Projects" , models_path, :class => 'btn' %><br/>
	<i class="gray">Start using this application <br/>by adding data</i>
	</p>
</div>
<div class="half_cols">
    <p class="text-center">
	 <%= link_to DynaModel.model_name.human.pluralize , dyna_models_path, :class => 'btn blank' %><br/>
	 <i class="gray">View existing <%=DynaModel.model_name.human.pluralize%> <br/>(or create new ones)</i>
    </p>
</div>
<div class="half_cols">
    <p class="text-center">
     <%= link_to "Public " + Model.model_name.human.pluralize.downcase , public_models_path, :class => 'btn blank' %><br/>
     <i class="gray">View published models <%= Model.model_name.human.pluralize %></i>
    </p>
</div>
<div class="half_cols last_col">
    <p class="text-center">
     <%= link_to "Documentation" , documentation_path, :class => 'btn blank' %><br/>
     <i class="gray">BGFit documentation</i>
    </p>
</div>
<div style="clear:both;"></div>

<hr/>

<div class="cols border big text-justify">Use bgfit to manage your experimental data and automatically perform <strong>data modeling</strong> on your data sets</div>
<div class="cols last_col border big">Collaborate on the same data, allowing to publish your results and finding using a central point of access.</div>

<div style="clear:both;"></div>


<h3>Tips</h3>
<div id="tips" class="readable" style="margin-left:2em">
    <div class="tip">
        <h4>Dictionary for BGFit:</h4>
        <div class="dictionary">
            <dl>
                <dt class="title">Project</dt>
                <dd>A top-level layer where permissions and public scope of the data is defined <br/><i class="gray">(see in "Manage data" topic below)</i></dd>
                <dt class="title">Experiment</dt>
                <dd>Folder that aggregates different collections of data, which can also be modeled</dd>
                <dt class="title">Measurement</dt>
                <dd>3-dimensional data that can also be annotaded. Each measurement can be modeled.</dd>
                <dt class="title">Model</dt>
                <dd>Model extension that is available in BGFIT. This can be a dynamic model that is defined using a diferential or algebraic equation.</dd>
                <dt class="title">Proxy Model</dt>
                <dd>These are implementation of models that are associated with the set of data that will model this set <i class="gray">(either measurement or experiment)</i></dd>
            </dl>
        </div>
    
    </div>
    
    <div class="tip">
        <h4>Manage data: (structure for data-management)</h4>
        <div style="display:hidden;" class="preview">
            <p>Data management is divided in three layers: project <i class="gray">(top-level folder)</i> -> experiment <i class="gray">(folder)</i> -> measurement <i class="gray">(actual data)</i></p>
        </div>
        <div class="detail">
            <p>Data management is divided in three layers: project <i class="gray">(top-level folder)</i> -> experiment <i class="gray">(folder)</i> -> measurement <i class="gray">(actual data)</i></p>
                <ul class="p">
                   <li>Project: Top-level folder where permissions and other properties are set</li>
                   <li>Experiment: Folder to organize and aggregate data by typology</li>
                   <li>Measurement: Actual data</li>
               </ul>
    
                <p>
                   <%= image_tag "structure.png" , :width => '700'%>
                </p>
        </div>
    </div>
    
    <div class="tip">
    
        <h4>Navigation:</h4>
        <div style="display:hidden;" class="preview">
            <p>The top toolbar has all the navigation links in this web application.</p>
        </div>
        <div class="detail">
            <p>The top toolbar has all the navigation links in this web application. There are three static links that are common throught the application <i>(Home & <%=Model.model_name.human%> & <%=DynaModel.model_name.human%>)</i>
            	<br/>
            	The print below shows these two static links
            	<br/>
            	<br/>
            	<%= image_tag "menu.png"%>
            	</span>
        	</p>
    
            <p>
            	Additionnaly, there are some contextual actions, depending on the active page, which can be accessed next to the <i>&gt;</i> symbol in orange, as shown in the image below
            	<br/>
            	<br/>
            	<%= image_tag "actions.png"%>
            </p>
        </div>
    </div>
</div>

<div style="clear:both;">
  
</div>