<h1>Listing results</h1>

<table class="formatted ui-collection">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Original data</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.title %></td>
    <td><%= result.description %></td>
    <td><%= result.original_data_trimmed %></td>
    <td><%= link_to 'show', result %></td>
    <td><%= link_to 'edit', edit_result_path(result) %></td>
    <td><%= link_to 'convert', convert_result_path(result) %></td>
    <td><%= link_to 'destroy', result, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Result', new_result_path %>
