<% 
	javascript 'https://www.google.com/jsapi' 
	
	context_menu = [
		{
			:key => :edit, 
			:name => 'Edit this result', 
			:url => edit_result_path(@result),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :cvs,
			:name => "Download .csv",
			:url => result_path(@result,:format => :csv),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :index, 
			:name => 'Goto index', 
			:url => results_path,
			:options => {
				:container_class => 'menu'
			}
		},]
	
%>
<% content_for(:title) { "Result detail" } %>
<p id="notice"><%= notice %></p>

<h1><%= @result.title %></h1>

<div class="menu">
	Actions: <%= menu = render_navigation :items => context_menu %>
</div>

<h3>Description:</h3>
<p>
	<%= @result.description %>
</p>

<h3>Data Visualization</h3>
<p>
	To determine the linear regression for the <i>"Time x LN( OD600 )"</i> data you need to select multiple lines in the table below.<br/>
	This can be performed by clicking on multiple lines pressing "Shift" or "Ctrl" keys.
</p>

<div id="table" link-to="<%= result_path(@result) %>"></div>

<div class="center">
			<span id="mu"><b>&mu;<sub>max</sub></b> = <span id="mu-value">(select multiple lines in the table)</span>
			<span id="mu-blank" style="display: none;">(select multiple lines in the table)</span></span>
</div>

<div id="chart" link-to="<%= result_path(@result) %>"></div>

<div class="clear"></div>

<% content_for(:context_menu) { menu }%>
