<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @result.title %>
</p>

<p>
  <b>Description:</b>
  <%= @result.description %>
</p>

<p>
  <b>Original data:</b>
  <%= @result.original_data %>
</p>

<p>
	<b>Data</b>
	
	<%= 
	
	 a = collection_table(@result.lines, :id => 'lines') do |t|
    t.header :time
    t.header :od600, 'OD600'
    t.header :ln_od600, 'ln( OD600 )'
    t.header :ph, 'pH'

    t.rows.alternate = :odd
    t.rows.each do |row, result, index|
      # Notice there's no need to explicitly define the title
      row.time		result.time
      row.od600		result.od600
      row.ln_od600	result.ln_od600
      row.ph		result.ph
    end

  end
 
	 %>
	<!--<%= collection_table @result.lines %>
	<%= render @result.lines %>-->
</p>

<h2>Add a line:</h2>
<%= render "lines/form" %>
 
<br />

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
