<% javascript 'https://www.google.com/jsapi' %>
<p id="notice"><%= notice %></p>

<p>
  <h2>Title:</h2>
  <%= @result.title %>
</p>

<p>
  <h2>Description:</h2>
  <%= @result.description %>
</p>

<p>
  <h2>Original data:</h2>
  <%= @result.original_data %>
</p>

<p>
	<h2>Data</h2>
	
	<%= 
	
	 a = collection_table(@result.lines, :id => 'lines' , :class => 'formatted') do |t|
    t.header :time
    t.header :od600, 'OD600'
    t.header :ln_od600, 'ln( OD600 )'
    t.header :ph, 'pH'
    t.header :edit_h, ''
    t.header :destroy_h, ''

    t.rows.alternate = :odd
    t.rows.each do |row, line, index|
      # Notice there's no need to explicitly define the title
      next if line.id == nil
      row.time		line.time
      row.od600		line.od600
      row.ln_od600	line.ln_od600
      row.ph		line.ph
      row.edit_h	link_to 'edit', edit_result_line_path(line.result, line) 
      row.destroy_h	link_to 'destroy', [line.result, line], :confirm => 'Are you sure?', :method => :delete
    end

  end
 
	 %>
</p>

<h2 class="add_h2">Add a line (click here):</h2>
<h2 class="add_h2" style="display:none;">Add a line (click here to hide):</h2>
<div class="add">
<%= render "lines/form" %>
</div>

<div id="chart" link-to="<%= result_path(@result) %>"></div>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back to index', results_path %>

