<h1>Listing experiments</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiments.each do |experiment| %>
  <tr>
    <td><%= experiment.description %></td>
    <td><%= experiment.model %></td>
    <td><%= link_to 'Show', [@model,experiment] %></td>
    <td><%= link_to 'Edit', edit_model_experiment_path(@model,experiment) %></td>
    <td><%= link_to 'Destroy', [@model,experiment], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experiment', new_model_experiment_path(@model) %>
