<% 
	javascript 'https://www.google.com/jsapi'

	context_menu = [
		{
			:key => :new, 
			:name => 'New measurement', 
			:url => url_for([:new,@experiment,:measurement]),
			:options => {
				:if => Proc.new { can?(:update, @experiment) },
				:container_class => 'menu'
			}
		},
        {
            :key => :new, 
            :name => t('.dyna'), 
            :url => new_experiment_proxy_dyna_model_path(@experiment),
            :options => {
                :if => Proc.new { can?(:update, @experiment) },
                :container_class => 'menu'
            }
        },
		{
			:key => :edit, 
			:name => 'Edit', 
			:url => url_for([:edit,@model,@experiment]),
			:options => {
				:if => Proc.new { can?(:update, @experiment) },
				:container_class => 'menu',
				class: "text"
			}
		},
		{
			:key => :model, 
			:name => t('navigation.goto' , destination: Model.model_name.human.downcase), 
			:url => model_path(@experiment.model),
			:options => {
				:container_class => 'menu',
				:class => ("text" if can?(:update, @experiment))
			}
		}
		]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>

<h1><%= @experiment.title %> (experiment)</h1>

<h4>Using <%= @model.title %> scope</h4>
<p>
	<%= show (simple_format @model.description )%>
</p>

<h3>Experiment Description</h3>
<p>
  <%= simple_format( show @experiment.description) %>
</p>

<div id="measurements_listing">
<%= render 'measurements/measurements'%>
</div>

<div class="menu">
	<%= menu %>
</div>

<h3><%= ProxyDynaModel.model_name.human.pluralize(@proxy_dyna_models.length) %> (<%= @proxy_dyna_models.length %>)</h3>
<%= render "proxy_dyna_models/summary" %>

<h3>Measurements chart</h3>

<%= google_chart( @experiment.measurements , @proxy_dyna_models )%>


