<% 
	javascript 'https://www.google.com/jsapi' 

	context_menu = [
		{
			:key => :edit, 
			:name => 'Edit this experiment', 
			:url => url_for([:edit,@model,@experiment]),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :new, 
			:name => 'New measurement', 
			:url => url_for([:new,@experiment,:measurement]),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :index, 
			:name => 'Goto model', 
			:url => url_for(@model),
			:options => {
				:container_class => 'menu',
				:class => "text"
		}}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<p id="notice"><%= notice %></p>

<h1><%= @experiment.title %> (experiment)</h1>

<h4>Using <%= @model.title %> model</h4>
<p>
	<%= simple_format @model.description %>
</p>

<h3>Experiment Description</h3>
<p>
  <%= simple_format @experiment.description %>
</p>

<h3 id="header-click">Gompertz curve (click here to see/hide)</h3>
<div id="div-click" style="display:none;">
	<dl style="margin-top:0px;">
		<dt>
			<%= label_tag :miu %>
		</dt>
		<dd>
			<%= @experiment.miu %>
		</dd>
		<dt>
			<%= label_tag :lambda %>
		</dt>
		<dd>
			<%= @experiment.lambda %>
		</dd>
		<dt>
			<%= label_tag :a %>
		</dt>
		<dd>
			<%= @experiment.a %>
		</dd>
		<dt>
			<%= label_tag :n_zero %>
		</dt>
		<dd>
			<%= @experiment.n_zero %>
		</dd>
		
	</dl>
	
	<div id="experiment_chart">
		<div id="chart" miu="<%= @experiment.miu %>" lambda="<%= @experiment.lambda %>" A="<%= @experiment.a %>" end="<%= @experiment.end %>" x_0="<%= @experiment.n_zero %>" ></div>
	</div>
</div>

<h3>Listing <%= pluralize(@experiment.measurements.length, 'measurement')%></h3>

<%= 
	collection_table(@experiment.measurements, :id => 'measurements' , :class => 'formatted') do |t|
		t.header :title
		t.header :date
		t.header :show_h,		""
		t.header :edit_h,		""
		t.header :destroy_h,	""
		t.header :regression_h,	""
		t.header :csv,			""

		t.rows.alternate = :odd
    	t.rows.each do |row, measurement, index|
			# Notice there's no need to explicitly define the title
			row.title			measurement.title
			row.date			measurement.date
			row.show_h			link_to 'show', [@experiment,measurement]
			row.edit_h			link_to 'edit', [:edit,@experiment,measurement]
			row.destroy_h		link_to 'remove', [@experiment,measurement], confirm: 'Are you sure?', method: :delete
			row.regression_h	link_to 'regression', [:regression,@experiment,measurement]
			row.csv				link_to 'download .csv', experiment_measurement_path(@experiment,measurement, :format => :csv)
		end
	end
%>

<div class="menu">
	<%= menu %>
</div>