<% 
	context_menu = [
		{
			:key => :edit, 
			:name => 'Edit this experiment', 
			:url => edit_model_experiment_path(@model,@experiment),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :new, 
			:name => 'New measurement', 
			:url => new_model_experiment_measurement_path(@model,@experiment),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :index, 
			:name => 'Goto model', 
			:url => model_path(@model),
			:options => {
				:container_class => 'menu',
				:class => "text"
		}}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<p id="notice"><%= notice %></p>

<h1><%= @experiment.title %> (experiment)</h1>

<h4>Using <%= @model.title %> model</h4>
<p>
	<%= simple_format @model.description %>
</p>

<h3>Experiment Description</h3>
<p>
  <%= simple_format @experiment.description %>
</p>

<h3>Listing <%= pluralize(@experiment.measurements.length, 'measurement')%></h3>

<%= 
	collection_table(@experiment.measurements, :id => 'measurements' , :class => 'formatted') do |t|
		t.header :title
		t.header :date
		t.header :regression_h,	"Regression"
		t.header :show_h,		"Show"
		t.header :edit_h,		"Edit"
		t.header :destroy_h,	"Destroy"
		t.header :csv,			"Download .csv"

		t.rows.alternate = :odd
    	t.rows.each do |row, measurement, index|
			# Notice there's no need to explicitly define the title
			row.title			measurement.title
			row.date			measurement.date
			row.regression_h	link_to 'regression', [:regression,@model,@experiment,measurement]
			row.show_h			link_to 'show', [@model,@experiment,measurement]
			row.edit_h			link_to 'edit', [:edit,@model,@experiment,measurement]
			row.destroy_h		link_to 'destroy', [@model,@experiment,measurement], confirm: 'Are you sure?', method: :delete
			row.csv				link_to 'download .csv', model_experiment_measurement_path(@model,@experiment,measurement, :format => :csv)
		end
	end
%>

<div class="menu">
	<%= menu %>
</div>