<%= semantic_form_for([@experiment,@measurement]) do |f| %>
  <%= f.semantic_errors :state %>

  <%= f.inputs do %>
  	<%= f.input :experiment, :input_html => { :disabled => true  }%>
  	<%= f.input :title %> 
    <%= f.input :date , as: :date_select, :include_blank => true %>
  	<%- if @measurement.new_record? %>
  	<%= f.input :original_data, as: :text, hint: "data should be copied as tab delimeted columns: X&nbsp;&nbsp;&nbsp;Y&nbsp;&nbsp;&nbsp;Z&nbsp;&nbsp;&nbsp;note"%>
  	<%- end %>
  	<%- if permitted_params.measurement_attributes.include? :minor_step %>
  	 <%= f.input :minor_step %>
  	<%- end %>
  <% end %>

  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<%= f.action :cancel, :as => :link , label: t('form.cancel')%>	
  <% end%>

<% end %>

<div class="clear"></div>
