<%= form_for([@experiment,@measurement], builder: LabeledFormBuilder) do |f| %>

	<%= f.error_messages %>
	
  <div class="field">
    <%= f.label :experiment %><br />
    <%= @experiment.id %>
    <br />
    <%= @experiment.description %>
  </div>

    <%= f.text_field :title %>
  
  <%= f.date_select :date , :include_blank => true %>
  
    <%= f.text_area :original_data %>
    <div class="actions">
    <%= f.submit nil , :class => "btn" %>
  </div>
<% end %>

<div class="clear"></div>
