<% 
	if defined?(menu).nil?
		context_menu = [].concat( back_menu( {key: :home, 
			name: t('navigation.index_of' , model: Experiment.model_name.human.pluralize.downcase), 
			path: url_for([@experiment]) }))
		
		menu = nil
		menu = render_navigation :items => context_menu
	end
%>

<%= semantic_form_for([@experiment,@measurement]) do |f| %>
  <%= form_errors(f) %>

  <%= f.inputs do %>
  	<!--<%= f.input :experiment, :input_html => { :disabled => true  }%>-->
  	<%= f.input :title %>
  	<%= f.input :description %>  
    <%= f.input :date , label:"Date",as: :string, input_html: {class: "date_picker"} %>
  	<%- if !@measurement.new_record? %>
  	 <%= f.input :change_original_data, as: :boolean%>
  	<%- end %>
    <%= f.input :original_data, as: :text, hint: "data should be copied as tab delimeted columns, space delimited data is not supported!<br/>example:<br/> X&nbsp;&nbsp;&nbsp;Y&nbsp;&nbsp;&nbsp;Z&nbsp;&nbsp;&nbsp;note".html_safe %>
  	<%- if permitted_params.measurement_attributes.include? :minor_step %>
  	 <%= f.input :minor_step %>
  	<%- end %>
  <% end %>

  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<div class="menu">
		<%= menu %>
	</div>		
  <% end%>

<% end %>

<div class="clear"></div>
