<h1>Listing measurements</h1>

<table>
  <tr>
    <th>Original data</th>
    <th>Experiment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @measurements.each do |measurement| %>
  <tr>
    <td><%= measurement.original_data %></td>
    <td><%= measurement.experiment %></td>
    <td><%= link_to 'Show', [@model,@experiment,measurement] %></td>
    <td><%= link_to 'Edit', edit_model_experiment_measurement_path(@model,@experiment,measurement) %></td>
    <td><%= link_to 'Destroy', [@model,@experiment,measurement], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Measurement', new_model_experiment_measurement_path(@model,@experiment) %>
