<% 
	javascript 'https://www.google.com/jsapi'
	
	context_menu = [
		{
			:key => :new, 
			:name => t('.dyna'), 
			:url => new_measurement_proxy_dyna_model_path(@measurement),
			:options => {
				:if => Proc.new { can?(:update, @measurement) },
				:container_class => 'menu'
			}
		},
		{
			:key => :regression, 
			:name => t('.linear'), 
			:url => url_for([:regression,@measurement]),
			:options => {
				:if => Proc.new { can?(:regression, @measurement) },
				:container_class => 'menu'
			}
		},
		{
			:key => :edit, 
			:name => t('action.edit'),
			:url => url_for([:edit,@experiment,@measurement]),
			:options => {
				:if => Proc.new { can?(:update, @measurement) },
				:container_class => 'menu',
				:class => "text"
			}
		},
		{
			:key => :new, 
			:name => t('.new-line'), 
			:url => new_measurement_line_path(@measurement),
			:options => {
				:if => Proc.new { can?(:update, @measurement) },
				:container_class => 'menu',
				:class => "text"
			}
		},
		{
			:key => :index, 
			:name => t('navigation.goto' , destination: Experiment.model_name.human.downcase), 
			:url => url_for([@model,@experiment]),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		},
		{
			:key => :index, 
			:name => t('navigation.goto' , destination: Model.model_name.human.downcase), 
			:url => url_for(@model),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { t('title.detail' , model: Measurement.model_name.human) }
%>

<h1><%= @measurement.experiment.title %>: <%= @measurement.title %></h1>

<h4>
	<%= @model.title %> model and part of <%= @experiment.title %> experiment
</h4>

<%= simple_format @model.description %>

<h3>Measured data (<%= pluralize(@measurement.lines.length, 'line')%>)</h3>
<%= 
	collection_table(@measurement.lines, :id => 'lines' , :class => 'formatted dataTable') do |t|
		t.header :x
		t.header :y
		t.header :z
		t.header :note
		t.header( :edit_h,		"", class: "no-sort") if can? :update, @measurement
		t.header( :destroy_h,	"", class: "no-sort") if can? :update, @measurement

		t.rows.alternate = :odd
    	t.rows.each do |row, line, index|
			# Notice there's no need to explicitly define the title
			row.x			line.x
			row.y			line.y
			row.z			line.z
			row.note		line.note
			row.edit_h		link_to t('action.edit').downcase, [:edit,@measurement,line] if can? :update, line
			row.destroy_h	link_to t('action.remove').downcase, [@measurement,line], confirm: 'Are you sure?', method: :delete if can? :update, line
		end
	end
%>

<div class="options">
	<%= link_to "Download table as .csv" , experiment_measurement_path(@experiment,@measurement, :format => :csv), class: "download" %>
</div>

<div class="menu">
<%= menu %>
</div>

<h3><%= ProxyDynaModel.model_name.human.pluralize(@proxy_dyna_models.length) %> (<%= @proxy_dyna_models.length %>)</h3>
<%= render "proxy_dyna_models/summary" %>

<div class="options">
    <%= link_to "Download table as .csv" , {action: :summary, format: :csv}, {class: "download"} %>
</div>

<h3><%= DynaModel.model_name.human %> and <%=Measurement.model_name.human.downcase%> plots</h3>

<%= google_chart( [@measurement] , @proxy_dyna_models )%>
