<p id="notice"><%= notice %></p>

<p>
  <b>Original data:</b>
  <%= @measurement.original_data %>
</p>

<p>
  <b>Experiment:</b>
  <%= @measurement.experiment %>
</p>


<%= link_to 'Edit', edit_model_experiment_measurement_path(@model,@experiment,@measurement) %> |
<%= link_to 'Back', model_experiment_measurements_path(@model,@experiment) %>
