<% 
	context_menu = [
		{
			:key => :new, 
			:name => 'New dyna model', 
			:url => new_measurement_proxy_dyna_model_path(@measurement),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :regression, 
			:name => 'Linear regression', 
			:url => url_for([:regression,@experiment,@measurement]),
			:options => {
				:container_class => 'menu'
			}
		},
		{
			:key => :csv, 
			:name => '.csv', 
			:url => experiment_measurement_path(@experiment,@measurement, :format => :csv),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		},
		{
			:key => :new, 
			:name => 'New line', 
			:url => new_measurement_line_path(@measurement),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		},
		{
			:key => :edit, 
			:name => 'Edit this measurement', 
			:url => url_for([:edit,@experiment,@measurement]),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		},
		{
			:key => :index, 
			:name => 'Goto experiment', 
			:url => url_for([@model,@experiment]),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		},
		{
			:key => :index, 
			:name => 'Goto model', 
			:url => url_for(@model),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		}]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
	content_for(:title) { "Edit measurement" }
%>
<p id="notice"><%= notice %></p>

<h1><%= @measurement.experiment.title %>: <%= @measurement.title %></h1>

<h4>
	<%= @model.title %> model and part of <%= @experiment.title %> experiment
</h4>

<%= simple_format @model.description %>

<h3>Measured data (<%= pluralize(@measurement.lines.length, 'line')%>)</h3>
<%= 
	collection_table(@measurement.lines, :id => 'lines' , :class => 'formatted') do |t|
		t.header :x
		t.header :y
		t.header :z
		t.header :note
		t.header :edit_h,		""
		t.header :destroy_h,	""

		t.rows.alternate = :odd
    	t.rows.each do |row, line, index|
			# Notice there's no need to explicitly define the title
			row.x			line.x
			row.y			line.y
			row.z			line.z
			row.note		line.note
			row.edit_h		link_to 'edit', [:edit,@measurement,line]
			row.destroy_h	link_to 'remove', [@measurement,line], confirm: 'Are you sure?', method: :delete
		end
	end
%>

<div class="menu">
<%= menu %>
</div>

<h3>Dynamic models (<%= pluralize(@measurement.proxy_dyna_models.length, 'dynamic model')%>)</h3>
<%= 
	collection_table(@measurement.proxy_dyna_models, :id => 'proxy_dyna_,model' , :class => 'formatted') do |t|
		t.header :title
		t.header :description
		t.header :show_h,		""
		t.header :edit_h,		""
		t.header :destroy_h,	""

		t.rows.alternate = :odd
    	t.rows.each do |row, proxy_dyna_model, index|
			# Notice there's no need to explicitly define the title
			row.title		proxy_dyna_model.dyna_model.title
			row.description	proxy_dyna_model.dyna_model.description
			row.show_h		link_to 'show', [proxy_dyna_model]
			row.edit_h		link_to 'edit', [:edit,proxy_dyna_model]
			row.destroy_h	link_to 'remove', [proxy_dyna_model], confirm: 'Are you sure?', method: :delete
		end
	end
%>
