<%= semantic_form_for([@datable,@proxy_dyna_model]) do |f| %>
  <%= form_errors(f) %>
  
  <%= f.inputs do %>
  	<%= f.input :title %>
  	<% unless @proxy_dyna_model.new_record? %>
  		<%= f.input :dyna_model , label: DynaModel.model_name.human, :as => :radio , :input_html => { :disabled => true  } %>
  	<% else %>
  		<%= f.input :dyna_model , label: DynaModel.model_name.human, :as => :radio, :hint => false  %>
  	<% end %>
  	<%= f.input :no_death_phase, as: :boolean %>
	<% unless @proxy_dyna_model.new_record? %>
	  <%= f.input :original_data, :as => :text %>  
	<% end %>
  <% end %>
  
  <% if @proxy_dyna_model.new_record? && @proxy_dyna_model.experiment %>
       <%= f.input :for_measurements, as: :boolean %>
    <% end -%>
  
  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
    <div class="menu">
        <%= menu %>
    </div>

  <% end%>
   
<% end %>

<div class="clear"></div>
