<%= semantic_form_for([@measurement,@proxy_dyna_model]) do |f| %>
  <%= f.semantic_errors :state %>
  
  <%= f.inputs do %>
  	<% if params[:action] != 'new' %>
  		<%= f.input :dyna_model , label: DynaModel.model_name.human, :as => :radio , :input_html => { :disabled => true  } , hint: "Model can only be choose when creating, if you wish to change you need to remove it first."%>
  	<% else %>
  		<%= f.input :dyna_model , label: DynaModel.model_name.human, :as => :radio  %>
  	<% end %>
	<% if params[:action] != 'new' %>
	  <%= f.input :original_data, :as => :text , hint: "use this textbox to manually define the parameter's value"%>  
	<% end %>
  <% end %>
  
  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<%= f.action :cancel, :as => :link , label: t('form.cancel')%>	
  <% end%>
   
<% end %>

<div class="clear"></div>
