<%= semantic_form_for([@measurement,@proxy_dyna_model]) do |f| %>
  <%= f.semantic_errors :state %>
  
  <%= f.inputs do %>
  	<% if params[:action] != 'new' %>
  		<%= f.input :dyna_model , :as => :radio , :input_html => { :disabled => true  } %>
  	<% else %>
  		<%= f.input :dyna_model , :as => :radio  %>
  	<% end %>
	<% if params[:action] != 'new' %>
	  <div>
	    <strong>tip:</strong> use this textbox to manually define the parameter's value
	  </div>  
	  <%= f.input :original_data, :as => :text %>  
	<% end %>
  <% end %>
  
  <%= f.actions do %>
  	<%= f.action :submit, :as => :button %>
  	<%= f.action :cancel, :as => :link %>	
  <% end%>
   
<% end %>

<div class="clear"></div>
