<%
	javascript 'https://www.google.com/jsapi'

	context_menu = [
		{
			:key => :edit,
			:name => 'Edit this proxy model',
			:url => url_for([:edit,@proxy_dyna_model]),
			:options => {
				:container_class => 'menu',
				:class => "text"
			}
		},
		{
            :key => :history,
            :name => 'Show history',
            :url => url_for([:history,@proxy_dyna_model]),
            :options => {
                :link => {
                    :remote => true
                },
                remote: true,
                :if => Proc.new { can?(:calculate, @proxy_dyna_model) },
                :container_class => 'menu',
                :class => "text"
            }
        },
		{
			:key => :index,
			:name => 'Goto measurement',
			:url => Proc.new {url_for([@proxy_dyna_model.measurement.experiment,@proxy_dyna_model.measurement])},
			:options => {
				:unless => Proc.new { @proxy_dyna_model.measurement.nil? },
				:container_class => 'menu',
				:class => ("text" if can?(:calculate, @proxy_dyna_model))
			}
		},
        {
            :key => :index,
            :name => 'Goto experiment',
            :url => Proc.new {url_for([@proxy_dyna_model.experiment])},
            :options => {
                :unless => Proc.new { @proxy_dyna_model.experiment.nil? },
                :container_class => 'menu',
                :class => ("text" if can?(:calculate, @proxy_dyna_model))
            }
        },
        {
            :key => :model,
            :name => t('navigation.goto' , destination: DynaModel.model_name.human.downcase),
            :url => url_for([@proxy_dyna_model.dyna_model]),
            :options => {
                :container_class => 'menu',
                :class => "text"
            }
        }
		]
	menu = nil
	content_for(:context_menu) { menu = render_navigation :items => context_menu }
%>
<% content_for(:title) { t('title.detail' , model: ProxyDynaModel.model_name.human) } %>

<h1><%= @proxy_dyna_model.title_join %></h1>

<% if !@proxy_dyna_model.measurement.nil? %>
<h3><%= @proxy_dyna_model.measurement.model.title %> model's description for <%= @proxy_dyna_model.measurement.title %> measurement:</h3>
<p>
	<%= simple_format (show (@proxy_dyna_model.measurement.model.description)) %>
</p>

<% end%>
<h3>Description</h3>

<p>
  <%= simple_format (show (@proxy_dyna_model.dyna_model.description)) %>
</p>

<%- if @proxy_dyna_model.no_death_phase || @proxy_dyna_model.log_flag%>
<h3>Options</h3>
<p>
<%- if @proxy_dyna_model.no_death_phase %>
  Does not include death phase<br/>
  #######################################<br/>
  <%- end 	%>
  <%- if @proxy_dyna_model.log_flag %>
  Estimation is performed on log scale (base e)<br/>
  #######################################<br/>
  <%- end 	%>
</p>
<%- end %>

<h3>Listing <%= pluralize(@proxy_dyna_model.dyna_model.params.length, 'parameter')%></h3>

<%= form_tag( calculate_proxy_dyna_model_path(@proxy_dyna_model) , method: :put) do |f| %>

	<div class="one_tab">
		<%= collection_table(@proxy_dyna_model.proxy_params , :class => 'formatted dataTable') do |t|
			t.header :title
			t.header :value, "Estimated parameter"
			t.header :description
			t.header :bottom, "Bottom range for estimation"
			t.header :top, "Top range for estimation"

			t.rows.alternate = :odd
			t.rows.each do |row, param, index|
				row.title 	param.param.human_title.html_safe
				row.value	param.value, :class => "highlight"
				row.description	param.param.description
				row.bottom 	range_value(param.bottom_cache,param,'_bottom')
				row.top 	range_value(param.top_cache,param,'_top')
			end
		end %>
		<div class="options">
			<%= link_to "Download table as .csv" , url_for([@proxy_dyna_model])+".csv", class: "download" %>
		</div>
	</div>

<div class="action text-center">
	<table class="formatted dataTable">
		<thead>
			<tr>
				<th class="no-sort" scope="col">
					<%= gen_info "RMSE", :div do %>
						<%= render "definitions/rmse" %>
						<p>Root Mean Square Error (RMSE):</p>
						<%= image_tag("formulas/rmse.png", class: "noborder") %>
						<p>For more information: <%= a_out "link to Wikipedia article", "http://en.wikipedia.org/wiki/Root-mean-square_deviation", true %></p>
					<%- end %>
				</th>
				<th class="no-sort" scope="col">
					<%= gen_info "R<sup>2</sup>".html_safe, :div do %>
						<%= render "definitions/r_square" %>
					<%- end %>
				</th>
				<th class="no-sort" scope="col">
					<%= gen_info "Bias", :div do %>
						<%= render "definitions/bias" %>
						</span>
						<%- end %>
				</th>
				<th class="no-sort" scope="col">
					<%= gen_info "Accuracy", :div do %>
						<%= render "definitions/accuracy" %>
					<%- end %>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td title="exact value: <%=@proxy_dyna_model.rmse%>"><%= @proxy_dyna_model.round(:rmse)%></td>
				<td title="exact value: <%=@proxy_dyna_model.r_square%>"><%= @proxy_dyna_model.round(:r_square)%></td>
				<td title="exact value: <%=@proxy_dyna_model.bias%>"><%= @proxy_dyna_model.round(:bias)%></td>
				<td title="exact value: <%=@proxy_dyna_model.accuracy%>"><%= @proxy_dyna_model.round(:accuracy)%></td>
			</tr>
		</tbody>
	</table>
	<fieldset class="left actions formtastic" style="border:0;">
	<ol>
		<%- if can? :calculate, @proxy_dyna_model %>

		<li class="action"><%= button_tag "estimate parameters".capitalize , disable_with: "calculating, please wait..." %></li>

	<%- end %>
	<div class="menu">
	<%= menu %>
	</div>
	</ol>
	</fieldset>
</div>

<% end %>



<%- if !@proxy_dyna_model.rmse.nil? || !@proxy_dyna_model.rmse.blank? %>
<h3><%= @proxy_dyna_model.dyna_model.title %>'s Curve</h3>

    <% if @proxy_dyna_model.measurement.nil? %>
        <%= google_chart( @proxy_dyna_model.experiment.measurements , [@proxy_dyna_model] )%>
    <%- else %>
        <%= google_chart( [@measurement] , [@proxy_dyna_model] )%>
    <%- end %>

<%- end %>
