<%- attachments.inline["logo.png"] = File.read Rails.root.join('app', 'assets', 'images', 'logo.png') %>
<%= image_tag attachments['logo.png'].url, height: 63, width: 200, alt: "BGFit logo" %>

<p>Welcome <%= @email %> to BGFit!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %> or alternatively copy the following to your browser <%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %></p>

<hr/>

<p>For more information please consult the documentation page, wiki or GitHub.</p>
<ul>
  <li>Documentation: <%= link_to documentation_url(only_path: false), documentation_url(only_path: false) %></li>
  <li>Wiki: <%= link_to "http://kdbio.inesc-id.pt/bgfit/wiki/index.php", "http://kdbio.inesc-id.pt/bgfit/wiki/index.php" %></li>
  <li>Github: <%= link_to "https://github.com/averissimo/BGFit", "https://github.com/averissimo/BGFit" %></li>
</ul>

<p>If you are lookinng for something more specific, we welcome you to submit a feedback form at <%= link_to "http://bit.ly/1offE3s", "http://bit.ly/1offE3s" %> or send us an email at <%= mail_to "averissimo@kdbio.inesc-id.pt", "averissimo@kdbio.inesc-id.pt" %></p>

<p>To keep up with all the update and new follow us at <%= link_to "@bgfit_modeling", "https://twitter.com/bgfit_modeling" %> (twitter).</p>

<p>Kind regards,</p>

<div style=";color:rgb(51,51,51);font-family:Verdana;">
  <p>
    <span style="font-weight:bold">André</span><br/>
    <span style="font-size: 80%">on behalf of the BGFit team</span>
  </p>
</p>
