<!DOCTYPE html>
<html>
	<head>
		<% if content_for?(:title) %>
		<title><%= yield(:title) %> | BacteriaGrowth</title>
		<% else %>
		<title>BacteriaGrowth</title>
		<% end %>
	  
	    <!-- Custom head -->
	  <% if content_for?(:head) %>
	  <%= yield(:head) %>
	  <% end %>
	  
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application"  %>
	  <%= csrf_meta_tags %>
	
	</head>
	<body>
		<div id="fixed-header">
			<div id="header" <% if Rails.env != "production" %>style="background-color: #7F0000!important;"<%end%>>
				<% if Rails.env != "production" %><strong><%=Rails.env%> environment</strong> <%=Rails.env%> environment <strong><%=Rails.env%> environment</strong> <%=Rails.env%> environment <strong><%=Rails.env%> environment</strong> <%=Rails.env%> environment <strong><%=Rails.env%> environment</strong><%else%><strong>KDBIO INESC-ID</strong>&nbsp;&nbsp; Instituto de Engenharia de Sistemas e Computadores Investigação e Desenvolvimento em Lisboa<%end%>
			</div>
				
			<div id="menu" class="menu" >
				<div class="menu-wrapper">
					<%= render_navigation %>
				</div>
				<% if content_for?(:context_menu) %>
				<div><span>&gt;</span></div>
				<div class="menu-wrapper">
					<%= yield(:context_menu) %>
				</div>
				<% end %>
			</div>
		</div>
		
		<div id="content">
			<%= yield %>
		</div>
		
		<div id="footer">
			<%= render_navigation %>
			<a href="mailto:averissimo@kdbio.inesc-id.pt">averissimo@kdbio.inesc-id.pt</a>
			<br/>
			<span><%= Time.now.year %>  KDBIO | INESC-ID</span>
		</div>
	</body>
</html>
