<!DOCTYPE html>
<html>
	<head>
		<% if content_for?(:title) %>
		<title><%= yield(:title) %> | BGFit</title>
		<% else %>
		<title>BGFit: Curve fitting</title>
		<% end %>

	    <!-- Custom head -->
	  <% if content_for?(:head) %>
	  <%= yield(:head) %>
	  <% end %>
      <!-- initialization script for MathJax -->

      <%= analytics_init if Rails.env.production? %>

      <!-- initialization script for MathJax -->
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application"  %>

      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          showProcessingMessages: false,
          messageStyle: "none",
          inlineMath: [['$','$'], ['\\(','\\)']],
          jax: ["input/TeX","output/HTML-CSS"],
          extensions: ["tex2jax.js"],
          showMathMenu: false,
          processEscapes:true
        });
      </script>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700|Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'> -->

	  <%= csrf_meta_tags %>

	</head>
	<body>
		<div id="main-content">
		<div id="fixed-header">
      <div id="header-wrapper">

	    <div id="feedback-wrapper">
  		  <div id="feedback"><a href="https://docs.google.com/forms/d/1Ssqd5HpP24H48MPQoAI7-GOIaih4HKg9YYLcW_98YbE/viewform" target="_blank">Feedback</a></div>
  		</div>

			<div id="header"
			 <%-if Rails.env != "production" && Rails.env == "pre"%>style="background-color: #F78400!important;"
			 <%- elsif Rails.env != "production" && Rails.env == "test"%>style="background-color: #FF00FF!important;"
			 <%- elsif Rails.env != "production"%>style="background-color: #7F0000!important;"
			 <%-end%>>
				<%- if Rails.env != "production" %>
				    <strong><%=Rails.env%> environment</strong> <%=Rails.env%> environment <strong><%=Rails.env%> environment</strong> <%=Rails.env%> environment <strong><%=Rails.env%> environment</strong> <%=Rails.env%> environment <strong><%=Rails.env%> environment</strong>
				<%- else%>
				    <strong>IDMEC</strong>&nbsp;&nbsp; Institute of Mechanical Engineering, Instituto Superior Técnico, University of Lisbon
		        <%- end%>
			</div>

			<div id="menu" class="menu" >
				<div class="menu-wrapper">
					<%= render_navigation %>
				</div>
				<% if content_for?(:context_menu) %>
				<span>&gt;</span>
				<div class="menu-wrapper">
					<%= yield(:context_menu) %>
				</div>
				<% end %>
			</div>

			<%- flash.each do |key, value| %>
			    <% unless value.nil? -%>
        		  	<%= content_tag(:div, :class => "flash #{key}") do %>
    	    		  	<%- if value.is_a?(String)%>
    	    		    		<%= value.html_safe %>
    	    		    <%- else %>
    	    		    		<%= value.join("<br/>").html_safe %>
    	    		    <%- end %>
        		        <%= link_to "<div class='right'>x</div>".html_safe , "#" , class: "close_flash"%>
        		    <%- end %>
    		    <% end -%>
    		  <%- end %>
			</div>

		</div>

        <div id="content_wrapper">
    		<div id="login_menu" class="menu">
    			<div class="menu-wrapper">
    				<%= login_menu %>
    			</div>
    		</div>

    		<div id="content">
    	      <div id="logo"><%= link_to image_tag("logo.png" , width: "200" , height:"63" , alt: "BGFIT: data modeling" , class: "noborder") , root_path%></div>
    			<%= yield %>
    		</div>
		</div>

		</div>

		<div id="footer">
  		<%= render "definitions/cite_min" %>
			<%= render_navigation %>
			<a class="twitter_logo" href="http://twitter.com/bgfit_modeling">@bgfit_modeling</a>
			<a href="mailto:andre.verissimo@tecnico.ulisboa.pt">andre.verissimo@tecnico.ulisboa.pt</a>
			<br/>
      <span><%= Time.now.year %>  <a href="http://sels.tecnico.ulisboa.pt/" target="_blank">SELS</a> | IDMEC</span>
		</div>

	</body>
</html>
