<!DOCTYPE html>
<html>
	<head>
		<% if content_for?(:title) %>
		<title><%= yield(:title) %> | BGFit</title>
		<% else %>
		<title>BGFit: Curve fitting</title>
		<% end %>
	  
	    <!-- Custom head -->
	  <% if content_for?(:head) %>
	  <%= yield(:head) %>
	  <% end %>
      <!-- initialization script for MathJax -->
     
      <!-- initialization script for MathJax -->	  
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application"  %>
	  
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ 
          showProcessingMessages: false, 
          messageStyle: "none",
          inlineMath: [['$','$'], ['\\(','\\)']],
          jax: ["input/TeX","output/HTML-CSS"],
          extensions: ["tex2jax.js"],
          showMathMenu: false,
          processEscapes:true
        });
      </script>
      
	  <%= csrf_meta_tags %>
	
	</head>
	<body>
		<div id="fixed-header">
			<div id="header" 
			 <%-if Rails.env != "production" && Rails.env == "pre-production"%>style="background-color: #F78400!important;"
			 <%- elsif Rails.env != "production" && Rails.env == "test"%>style="background-color: #FF00FF!important;"
			 <%- elsif Rails.env != "production"%>style="background-color: #7F0000!important;"
			 <%-end%>>
				<%- if Rails.env != "production" %>
				    <strong><%=Rails.env%> environment</strong> <%=Rails.env%> environment <strong><%=Rails.env%> environment</strong> <%=Rails.env%> environment <strong><%=Rails.env%> environment</strong> <%=Rails.env%> environment <strong><%=Rails.env%> environment</strong>
				<%- else%>
				    <strong>KDBIO INESC-ID</strong>&nbsp;&nbsp; Instituto de Engenharia de Sistemas e Computadores Investigação e Desenvolvimento em Lisboa
		        <%- end%>
			</div>
				
			<div id="menu" class="menu" >
				<div class="menu-wrapper">
					<%= render_navigation %>
				</div>
				<% if content_for?(:context_menu) %>
				<span>&gt;</span>
				<div class="menu-wrapper">
					<%= yield(:context_menu) %>
				</div>
				<% end %>
			</div>
		</div>

        <div id="content_wrapper">
		<div id="login_menu" class="menu">
			<div class="menu-wrapper">
				<%= login_menu %>
			</div>
		</div>

		<div id="content">
	      <div style="margin-bottom:1em;"><%= link_to image_tag("logo.png" , width: "200" , height:"63" , title: "BGFIT: data modelign" , class: "noborder") , root_path%>
		  <%- flash.each do |key, value| %>
		  	<%- if value.is_a?(String)%>
		    	<%= content_tag(:div, value.html_safe, :class => "flash #{key}") %>
		    <%- else %>
		    	<%= content_tag(:div, value.join("<br/>").html_safe, :class => "flash #{key}") %>
		    <%- end %>
		  <%- end %>


			<%= yield %>
		</div>
		</div>
		<div id="footer">
			<%= render_navigation %>
			<a href="mailto:averissimo@kdbio.inesc-id.pt">averissimo@kdbio.inesc-id.pt</a>
			<br/>
			<span><%= Time.now.year %>  KDBIO | INESC-ID</span>
		</div>
	</body>
</html>
